*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #00C6FF;
}
.container{
    padding: 10px;
    background:none
    
}
#col{
    border-right:1px solid  black;
    overflow-y: none;

    
}
#charRow{
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 12px 12px 20px;
    background-color: white;
    
}
.btn{
    height: 30px;
}
.search{
    display: flex;
    align-items: center;
}
img{
    height:80px;
    width: 80px;
    box-shadow: 5px 3px 6px
}
.profilPic{
    padding: 20px 10px;
    border-bottom: 2px solid black;
    font-size: 30px;
    
}
.side-bar-bubble{
    height: 500px;

}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */

  #chatBar{
    position: absolute;
    bottom: 4px;
    width: 95%;
  }
  
 